.card{
    margin-top: 10px;
    border: none;
    padding: 30px;
    position: absolute;
    top:50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%,-50%);
    background: rgb(231, 241, 248);
    background: linear-gradient(90deg, rgb(206, 211, 214)0%, rgb(247, 244, 252)100%);
}

.card h2{
    color: rgb(65, 25, 25);
}

label{
    color: white;
}

.container-fluid{
    background: hsla(205, 40%, 30%, 1);
}

.backbutton{
    margin-left: 16px;;
}

.mydiv{
    color: red;
}