<!-- <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                    <div class="container-fuild">

                        <div class="row">
                            <div class="form-group col-md-4">
                                <label>Nurse Name</label>&nbsp;
                                <select class="form-control">

                               
                                </select>
                            </div>
                            <br>
                            <div class="form-group col-md-4">
                                <label for="id">Nurse ID</label>&nbsp;
                                <input type="text" class="form-control" value="{{mySelect}}" readonly>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <label>Select Date</label>
                            <div class="form-group col-md-4">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>select Date</mat-label>
                                    <input matInput formControlName="startDate">
                                </mat-form-field>

                            </div>
                            <div class="form-group col-md-4">
                                <label>Available Time Slots</label>&nbsp;
                                <select class="form-control">
                                    <option>9:00 am - 10:00 am</option>
                                    <option>10:00 am - 11:00 am </option>
                                    <option>11:00 am - 12:00 pm</option>
                                    <option>12:00 pm - 01:00 pm</option>
                                    <option>01:00 pm - 02:00 pm</option>
                                    <option>03:00 pm - 04:00 pm</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="form-group col-md-4">
                            <label>Patient Details</label>&nbsp;&nbsp;
                            <a href="">Click Here for More Details</a>
                        </div>
                        <br>
                        <div>
                            <button class="btn btn-primary">edit Appointment</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="col">
            <form class="example-form">
                <mat-card-title style="text-align: center;">
                    <h2>Edit Appointment</h2>
                </mat-card-title>
                <div class="row">
                    <mat-form-field appearance="legacy" class="full-width col-10">
                        <mat-label>Physician Name</mat-label>
                        <input matInput required />
                    </mat-form-field>
                    &nbsp;

                    <mat-form-field appearance="legacy" class="full-width col-10">
                        <mat-label>Employee Id</mat-label>
                        <input matInput >
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="full-width col-10">
                        <mat-select placeholder="Available Time Slots" >
                            <mat-option *ngFor="let al of Timeslot" [value]="al">
                                {{ al }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <mat-card-title style="text-align: center;">
                    <h2>Description</h2>

                </mat-card-title>
                <div class="row">
                    <mat-form-field class="full-width col-10">
                        <mat-select placeholder="selection of Patient" >
                            <!-- <mat-option *ngFor="let al of Timeslot" [value]="al">
                                {{ al }}
                            </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Descriptive Information</mat-label>
                        <textarea matInput placeholder=" "></textarea>
                      </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="legacy" class="full-width col-10">
                        <mat-label>Patient Information</mat-label>
                        <input matInput required />
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="full-width col-10">
                        <mat-select placeholder="Physican" >
                            <!-- <mat-option *ngFor="let al of Timeslot" [value]="al">
                                {{ al }}
                            </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="row">
                    <mat-form-field appearance="legacy" class="full-width col-10">
                        <mat-label>Date</mat-label>
                        <input matInput type="date" required />
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <mat-form-field class="full-width col-10">
                        <mat-select placeholder="Time" >
                            <mat-option *ngFor="let al of Timeslot" [value]="al">
                                {{ al }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

              </form>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  
  