<!-- <app-edit-appointment></app-edit-appointment> -->
<!-- <app-createappoinment></app-createappoinment> -->
<!-- <app-deleteappointment></app-deleteappointment> -->
  <!-- <app-schedule></app-schedule> -->

  <!-- <mat-toolbar>

    Responsive side navigation
    </mat-toolbar>
    
    <mat-sidenav-container>
        <mat-sidenav>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                Main content here!
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container> -->
<app-dashboard></app-dashboard> 

    

    