<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2 style="color: black;">Nurse </h2>
            <h4 style="color: black;">Nurse@email.com</h4>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Pages</h2> -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <a mat-list-item> <mat-icon>calendar_today</mat-icon> Scheduleing </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="appointment">Scheduling</a> -->
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="recievenotes">Inbox </a>
     -->
     
     <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Notes</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="sendnotes">Send Note</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="recievenotes">Reciever Notes</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="sentnotes">Sent Notes</a>

        </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
</mat-nav-list>  