<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="col">
                    <form class="createAppointment">
                        <mat-card-title style="text-align: center;">
                            <h2>Delete Appointment</h2>
                        </mat-card-title>
                     <div class="row">
                        <mat-form-field class="full-width col-10">
                            <mat-select placeholder="Select Appointment">
                                <mat-option *ngFor="let al of Timeslot" [value]="al">
                                    {{ al }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="example-button-row">
                            <button type="submit"  class="btn btn-primary">Delete Appointment</button>
                        </div>
                     </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>