<mat-divider></mat-divider>
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
        <h2 style="color:white;">Nurse </h2>
        <h4 style="color:white;">Nurse@email.com</h4>
    </div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
</div> 
    <mat-divider></mat-divider>
   
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item> <mat-icon>calendar_today</mat-icon> Scheduleing </a>
    <a mat-list-item> <mat-icon>settings</mat-icon> Settings </a>
    <a mat-list-item><mat-icon>exit_to_app</mat-icon> SignOut </a>

</mat-nav-list>
  
