.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
      min-height: calc(100vh - 178px);
      border-radius: 10px;
      margin-top: -2rem;
      background: white;
      color: black;
      font-size: 2rem;
    
  }
  